<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1532736594082-a4a87781c1c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1263&q=80);">
  <h2>What's the weather like today?</h2>
</div>

<div class="input">
  <input type="text" class="inputValue" placeholder="Enter a city">
  <input type="submit" value="Submit" class="button">
</div>

<div class="weather-container text-center">
    <img class="icon">
    <h1 class="name"></h1>
    <p class="desc"></p>
    <p class="weather"></p>
    <p class="temp"></p>
</div>
